<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <title>URL Shortener</title>
</head>
<body>
  <div class="container">
    <h1 class="my-4">URL Shortener</h1>
    <form action="/shortUrls" method="POST" class="form-inline" onsubmit="return validateUrl()">
      <div id="message" class="alert" style="display:none;"></div>
      <label for="fullUrl" class="sr-only">URL</label>
      <input required placeholder="Enter URL" type="url" name="fullUrl" id="fullUrl" class="form-control col mr-2">
      <button class="btn btn-success" type="submit">Shorten</button>
    </form>
    
    <script>
      function validateUrl() {
        const urlInput = document.getElementById('fullUrl');
        const messageDiv = document.getElementById('message');
        const urlPattern = /^(ftp|http|https):\/\/[^ "]+$/;

        if (!urlPattern.test(urlInput.value)) {
          messageDiv.className = 'alert alert-danger';
          messageDiv.innerText = 'Please enter a valid URL.';
          messageDiv.style.display = 'block';
          return false; // Prevent form submission
        }
        messageDiv.style.display = 'none'; // Hide message if valid
        return true; // Allow form submission
      }
    </script>
    
    <table class="table table-striped table-responsive mt-4">
      <thead>
        <tr>
          <th>Full URL</th>
          <th>Short URL</th>
          <th>Clicks</th>
        </tr>
      </thead>
      <tbody>
        <% shortUrls.forEach(shortUrl => { %>
          <tr>
            <td><a href="<%= shortUrl.full %>"><%= shortUrl.full %></a></td>
            <td><a href="<%= shortUrl.short %>"><%= shortUrl.short %></a></td>
            <td><%= shortUrl.clicks %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</body>
</html>
